body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
}

/* nuvbar */

.navbar {
    z-index: 2;
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
}

/* buttons */

.container {
    max-width: 900px;
    padding-top: 110px;
}

.list-group {
    display: grid;
}

.list-group-item button {
    transition: all 0.1s;
    width: 150px;
    background-color: #FFD93D;
    color: black;
    border: 1px solid #0096FF;
    font-size: 20px;
}

.list-group-item button:hover,
.list-group-item button:focus {
    box-shadow: 0 0 8px #0096FF;
    cursor: pointer;
}

/* modal contents */
.modal-content {
    border: 2px solid #0096FF;
}

.pokemon-height {
    text-align: left;
}

.pokemon-type1 {
    float: left;
}

.pokemon-type2 {
    display: inline-block;
    margin-left: 20px;
}

.pokemon-type2.is-hide {
    display: none;
}

.image-container {
    max-width: 150px;
    margin: 0 auto;
}

/* media query */

@media (max-width: 569px) {
    .navbar {
        justify-content: center;
    }
}
@media (min-width: 570px) {
    .list-group {
      display: grid;
      grid-template-columns: repeat(2, 50%);
    }
}
  
@media (min-width: 760px) {
    .list-group {
      display: grid;
      grid-template-columns: repeat(3, 33%);
    }
}
  
@media (min-width: 990px) {
    .list-group {
      display: grid;
      grid-template-columns: repeat(4, 25%);
    }
}